<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <title>Michaelroshen.github.com by MichaelRoshen</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Mr.c's Blog</h1>
        <section id="downloads">
         <nav id="navBarTop">
        <ul class="navBarListLeft">
            <li><a href="/" class="btn btn-github">Home</a></li>
          <li><a href="/categories" class="btn btn-github">Categories</a></li>
          <li><a href="/tags" class="btn btn-github">Tags</a></li>
          <li><a href="/about" class="btn btn-github">About</a></li>
          <li><a href="https://github.com/MichaelRoshen" target="_blank"><img src="/images/github.png" alt="github" title="GitHub" class="navDock" height="32" /></a></li>
         <li><a href="https://twitter.com/MichaelRoshen" target="_blank"><img src="/images/twitter.png" alt="github" title="Twitter" class="navDock" height="32" /></a></li>
         <li><a href="https://www.facebook.com/profile.php?id=100004774359111" target="_blank"><img src="/images/facebook.png" alt="github" title="FaceBook" class="navDock" height="32" /></a></li>
         <li><a href="http://michael-roshen.iteye.com/" target="_blank"><img src="/images/iteye.png" alt="github" title="Iteye" class="navDock" height="32" /></a> </li>
        </ul>
    </nav>
        </section>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
       {{ content }}
      </section>
    </div>

    
  </body>
</html>
